.plans {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 60px;
    align-items: stretch;

    &__section {
        position: relative;
    }

    &__blur {
        &-1 {
            width: 32rem;
            height: 23rem;
            top: 6rem;
            left: 0rem;
        }

        &-2 {
            width: 32rem;
            height: 23rem;
            top: 10rem;
            right: 0rem;
        }
    }
}

.plan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--caloryCard);
    color: var(--white-color);
    gap: 2rem;
    padding: 1.5rem;
    width: 15rem;


    &:nth-of-type(2) {
        background: var(--planCard);
        transform: scale(1.1);

        >svg {
            fill: var(--white-color);
            width: 2rem;
            height: 2rem;
        }

        .plan__btn {
            color: var(--lime-color);

            &:hover {
                background-color: var(--lime-color);
                color: var(--white-color);
            }
        }
    }

    >svg {
        fill: var(--lime-color);
        width: 2rem;
        height: 2rem;
    }

    &__btn {

        &:hover {
            background-color: var(--lime-color);
            color: var(--white-color);
            transition: all 0.3s;
        }
    }

    &__name {
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__price {
        font-size: 2rem;
    }

}

.feature {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;

    &:last-of-type {
        margin-bottom: 0;
    }

    &__more {
        font-size: 0.8rem;
        cursor: pointer;
    }

    &:before {
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background-image: url("../../assets/whiteTick.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }
}

@media screen and (max-width: 768px) {
    .plans {  
        flex-direction: column;
        align-items: center;
       
    }
}

@media screen and (max-width: 586px) {
    
}