.reviews {

    &__container {
        display: flex;   
    }

    &__left {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &__title {
        display: flex;
        flex-direction: column;
    }

    &__text {
        letter-spacing: 2px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    &__status {
        text-transform: uppercase;
        font-weight: 700;
        display: flex;

        >:nth-child(1) {
            color: var(--lime-color);
            margin-right: 5px;
        }
    }

    &__right {
        flex: 1;
        position: relative;

        &>:nth-child(1) {
            position: absolute;
            width: 17rem;
            height: 20rem;
            border: 2px solid var(--lime-color);
            background-color: transparent;
            right: 9rem;
            top: 0.9rem;
        }

        &>:nth-child(2) {
            position: absolute;
            width: 17rem;
            height: 19rem;
            background: var(--planCard);        
            right: 7rem;
            top: 4rem;
        }
    }

    &__img {
        position: absolute;
        width: 17rem;
        height: 20rem;
        object-fit: cover;
        right: 8rem;
        top: 2rem;
    }

    &__arrows {
        display: flex;
        position: absolute;
        bottom: 1rem;
        left: 3rem;
        gap: 1rem;
    }

    &__arrow {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.2);
            transition: transform 0.3s;
        }

        &:active {
            transform: scale(0.9);
            transition: transform 0.3s;
        }
    }
  
}

@media screen and (max-width: 768px) {
    .reviews {
        &__container {
            flex-direction: column;
        }

        &__right {
            flex-direction: column;

            >div {
                display: none;
                position: relative;
            }
            :last-child {
                display: flex;
                position: relative;
                bottom: 0;
                left: 0;
            }
        }

        &__arrows {
            margin-top: 20px;
        }

        &__img {
            margin-top: 40px;
            position: relative;
            align-self: center;
            top: 0;
            right: 0;
        }
    }
}

@media screen and (max-width: 586px) {
    .reviews {
        &__container {
            flex-direction: column;
        }

        &__title {
            font-size: 2rem;
        }

        &__text {
            font-size: 0.8rem;
            letter-spacing: 1px;
            line-height: 20px;
        }
    }
}