.join {

    &__container {
        display: flex;
    }

    &__left {
        flex: 1; 
        position: relative;
    }

    &__line {
        position: absolute;
        width: 10.5rem;
        border: 2px solid var(--lime-color);
        border-radius: 20%;
        margin-top: -20px;
    }

    &__text {
        font-size: 3rem;
        font-weight: 700;
        max-width: 600px;
        line-height: 70px;
        text-transform: uppercase;
    }

    &__right {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__form {
        display: flex;
        gap: 1rem;
        background-color: var(--gray-color);
        padding: 1rem 1.5rem;

        input {
            background-color: transparent;
            border: none;
            min-width: 250px;
            color: var(--lightgray);           
        }
    }

    &__btn {
        background-color: var(--lime-color);
        color: var(--white-color);

        &:hover {
            background: var(--white-color);
            color: var(--lime-color);
            transition: all 0.3s;
        }

        &:active {
            background: var(--lime-color);;
            color: var(--white-color);
            transition: all 0.3s;
        }
    }
}

::placeholder {
    color: var(--lightgray);
}

@media screen and (max-width: 768px) {
    .join {
        &__container {
            flex-direction: column;
        }

        &__text {
            font-size: 2.3rem;
        }
    }
}

@media screen and (max-width: 586px) {
    .join {
        &__container {
            flex-direction: column;
        }

        &__text {
            font-size: 1.5rem;
            line-height: 40px;
        }

        &__form {
            margin-top: 20px;
            display: flex;
            gap: 1rem;
            background-color: var(--gray-color);
            padding: 0.5rem 1rem;
    
            input {
                background-color: transparent;
                border: none;
                color: var(--lightgray);           
            }
        }
    }
}