.programs {

    &__categories {
        display: flex;
        gap: 1rem;
        margin-top: 4rem;
    }
}

.category {
    display: flex;
    flex-direction: column;
    background-color: var(--gray-color);
    padding: 2rem;
    gap: 1rem;
    justify-content: space-between;
    transition: all 0.2s;

    &__btn {
        cursor: pointer;


        &:hover .category__arrow {
            transform: translateX(10px);
            transition: transform 0.3s;
        }
    }

    &__arrow {
        transition: transform 0.3s;

    }

    
    &>svg {
        width: 2rem;
        height: 2rem;
        fill: var(--white-color);
    }

    &__title {
        font-size: 1rem;
        font-weight: 700;
    }

    &__descr {
        font-size: 0.9rem;
        line-height: 25px;
    }

    &__btn {
        display: flex;
        align-items: center;
        gap: 2.5rem;

        &>img {
            width: 1.5rem;
        }
    }

    &:hover {
        background: var(--planCard);
        transition: all 0.2s;
    }  
}

@media screen and (max-width: 768px) {
    .programs {
        &__categories {
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }    
    }
    .category {
        max-width: 300px;
    }
}

@media screen and (max-width: 586px) {
    .programs {
        &__categories {
            flex-direction: column;
        }
    }
}